# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Poetry
poetry.toml

# Docker
postgres_data/