{% extends 'base.html' %}

{% block title %}Dashboard - HelpDesk{% endblock %}

{% block content %}

<h1>HelpDesk Dashboard</h1>

<div class="stats">

    <div class="stat">
        <h3>Total Tickets</h3>
        <h2>{{ total_tickets }}</h2>
    </div>

    <div class="stat">
        <h3>New Tickets</h3>
        <h2>{{ new_tickets }}</h2>
    </div>

    <div class="stat">
        <h3>Resolved Tickets</h3>
        <h2>{{ resolved_tickets }}</h2>
    </div>

</div>

<div class="card">
    <h2>Latest Tickets</h2>

    {% if latest_tickets %}

        {% for ticket in latest_tickets %}

            <div>
                <h3>
                    <a href="/tickets/{{ ticket.id }}/">
                        #{{ ticket.id }} — {{ ticket.title }}
                    </a>
                </h3>

                <p>
                    Employee: {{ ticket.employee.full_name }}
                </p>

                <p>
                    Category: {{ ticket.category.name }}
                </p>

                <p>
                    Status: {{ ticket.status }}
                    |
                    Priority: {{ ticket.priority }}
                </p>
            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>No tickets yet.</p>

    {% endif %}

</div>

{% endblock %}